<?xml version="1.0" encoding="utf-8"?>
<robot name="Cube">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/cube.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/cube.stl"/>
      </geometry>
    </collision>
  </link>
</robot>